<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [556]:
!pip install pandas
!pip install psycopg2
!pip install python-dotenv

Requirement already satisfied: pandas in c:\ds\hh_project_2\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\ds\hh_project_2\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\ds\hh_project_2\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\ds\hh_project_2\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\ds\hh_project_2\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\ds\hh_project_2\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: psycopg2 in c:\ds\hh_project_2\.venv\lib\site-packages (2.9.9)
Requirement already satisfied: python-dotenv in c:\ds\hh_project_2\.venv\lib\site-packages (1.0.1)

In [557]:
import pandas as pd
import psycopg2
import os

from pathlib import Path
from dotenv import load_dotenv

load_dotenv()
env_path = Path('.')/'.env'
load_dotenv(dotenv_path=env_path)

True

In [558]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python

In [559]:
connection = psycopg2.connect(
    dbname=os.getenv("DBNAME"),
    user=os.getenv("USER"),
    host=os.getenv("HOST"),
    password=os.getenv("PASSWORD"),
    port=os.getenv("PORT")
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [560]:
# текст запроса
query_3_1 = f'''
select COUNT(*) AS "vacancies total"
from public.vacancies
'''

In [561]:
# результат запроса
df = pd.read_sql_query(query_3_1, connection)
display(df)

C:\Users\zhigu\AppData\Local\Temp\ipykernel_45312\3515521326.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

   vacancies total
0            49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [562]:
# текст запроса
query_3_2 = f'''
select COUNT(*)  AS "employers total"
from public.employers
'''

In [563]:
# результат запроса
df = pd.read_sql_query(query_3_2, connection)
display(df)

C:\Users\zhigu\AppData\Local\Temp\ipykernel_45312\3655965175.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2, connection)

   employers total
0            23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [564]:
# текст запроса
query_3_3 = f'''
select COUNT(*)AS "areas total"
from public.areas
'''

In [565]:
# результат запроса
df = pd.read_sql_query(query_3_3, connection)
display(df)

C:\Users\zhigu\AppData\Local\Temp\ipykernel_45312\3731397118.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3, connection)

   areas total
0         1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [566]:
# текст запроса
query_3_4 = f'''
select COUNT(*) AS "industries total"
from public.industries
'''

In [567]:
# результат запроса
df = pd.read_sql_query(query_3_4, connection)
display(df)
connection.close()

C:\Users\zhigu\AppData\Local\Temp\ipykernel_45312\2422735326.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4, connection)

   industries total
0               294

***

выводы по предварительному анализу данных

**Выводы:** Предварительно можно сказать что колличество вакансий в более два раза превышает колличество соискателей на выборке. Выборка представлена по 1362 населенным пунктам и 294 сферам деятельности.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [569]:
# текст запроса

In [570]:
# результат запроса

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [571]:
# текст запроса

In [572]:
# результат запроса

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [573]:
# текст запроса

In [574]:
# результат запроса

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [575]:
# текст запроса

In [576]:
# результат запроса

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [577]:
# текст запроса

In [578]:
# результат запроса

***

In [579]:
# выводы по детальному анализу вакансий

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [580]:
# текст запроса

In [581]:
# результат запроса

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [582]:
# текст запроса

In [583]:
# результат запроса

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [584]:
# текст запроса

In [585]:
# результат запроса

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [586]:
# текст запроса

In [587]:
# результат запроса

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [588]:
# текст запроса

In [589]:
# результат запроса

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [590]:
# текст запроса

In [591]:
# результат запроса

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [592]:
# код для получения списка городов-милионников

In [593]:
# текст запроса

In [594]:
# результат запроса

***

In [595]:
# выводы по анализу работодателей

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [596]:
# текст запроса

In [597]:
# результат запроса

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [598]:
# текст запроса

In [599]:
# результат запроса

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [600]:
# текст запроса

In [601]:
# результат запроса

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [602]:
# текст запроса

In [603]:
# результат запроса

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [604]:
# текст запроса

In [605]:
# результат запроса

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [606]:
# текст запроса

In [607]:
# результат запроса

***

In [608]:
# выводы по предметному анализу

# Общий вывод по проекту

In [609]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования